.navBackground{
    padding: 0;
    margin: 0;
    height: 102vh;
    width: 100%;
    color: white;
}
.navbar-item{
    width: 100%;
    border-bottom: 2px solid black;
    margin: 0;
}
.navbar-item:hover{
    background-color: black;
    
}
.navbar-text{
    width: 40%;
    margin: 0 auto;
    font-size: 23px;
    font-weight: bold;
    padding: 5% 0;
    color: #333333;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}
.navbar-item:hover .navbar-text{
    color: #d6d6d6;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.205);
}
.navbar-link{
    text-decoration: none;
}