
/* #### Max Width 1399px ----- View 1300px  ####### */

@media(max-width:1399px){
    .status-title{
        display: block!important;
        text-decoration: underline!important;
    }
}

/* #### Max Width 1299px ----- View 1200px  ####### */

@media(max-width:1299px){

}

/* #### Max Width 1199px ----- View 1000px  ####### */

@media(max-width:1199px){
    .creatAccount{
        display: block;
    }
    .loginBox{
        width: 45%;
    }
    .name{
        height: 5%;
    }
    .user-map{
        margin-bottom: 3%!important;
    }
    .name p{
        padding: .2% 0 2% 1%;
        font-size: 18px;
    }
    .selectProparty{
        height: 10%;
        font-size: 16px;
        padding: .3% 1% 4% .5%;
    }
    .btnArea{
        height: 5%;
        font-size: 18px!important;
        padding: .5% 0;
    }
}

/* #### Max Width 999px ----- View 850px  ####### */

@media(max-width:999px){
    .loginBox{
        width: 55%;
    }
    .selectProparty{
        font-size: 16px;
    }
    .card-container{
        width: 9rem!important;
        height: 100%;
    }
    .control-input-text{
        font-size: 16px!important;
        text-align: left;
        margin-bottom: 1%;
    }
    .control-input-box{
        text-align: left;
        margin-bottom: 4%;
    }
}

/* #### Max Width 849px ----- View 700px  ####### */

@media(max-width:849px){
    .card-container{
        width: 8rem!important;
        height: 100%;
    }
}
@media(max-width:767px){
    .card-main-container{
        height: 29rem!important;
        overflow-y: scroll;
    }
    .card-container{
        width: 13rem!important;
        height: 100%;
        margin: 0 auto;
        margin-right: 33%;
    }
    .card-text-h6{
        font-size: 22px!important;
    }
    .control-input-text{
        font-size: 16px!important;
    }
}
/* #### Max Width 699px ----- View 600px  ####### */

@media(max-width:699px){
    .loginBox{
        width: 70%;
    }
    .selectProparty{
        width: 20%!important;
    }
    .card-container{
        width: 12rem!important;
        margin-right: 33%;
    }
}

/* #### Max Width 599px ----- View 400px  ####### */

@media(max-width:599px){
    .background{
        padding: 0!important;
        background-image: none;
    }
    .loginBox{
        width: 100%;
        border: none;
    }
    .control-input-number{
        width: 100%;
    }
}


/* #### Max Width 399px ----- View 300px  ####### */

@media(max-width:399px){
    .background{
        padding: 0!important;
        background-image: none;
    }
    .loginBox{
        width: 100%;
        border: none;
    }
    .device-container{
        width: 90%!important;
        margin: 0 auto;
        font-size: 13.5px;
    }
    .card-container{
        width: 8rem!important;
        margin-right: 33%!important;
    }
    .card-text-h6{
        font-size: 19px!important;
    }
    .card-text-p{
        font-size: 17px!important;
    }
    
}






















